
body {
  margin: 0;
  font-family: Arial, Arial Bold, Colibri, FreeSans, Helvetica, sans-serif, Belgates, Verdana, z003;
  background: #FFF;
}

 hr {
   border:1px solid #FFF;
   padding-left: 20px;
   padding-right: 20px;
   width: 10%;
}

.entete {
    overflow:hidden;
    background-color: #1F1696;
    padding-top:0;
    padding-bottom:10px;
    text-align:center;
}

.entete img {
      width:225px;
      height:auto;
      Padding-top:20px;
      margin-left:28px;
      background-color: #1F1696;
}           

.entete a {
      font-size:15px; 
      color:#FFF; 
      font-weight:bold;
      text-decoration:none;
}      

.entete a:hover {
      background-color: none;
      color:#00FF00;
} 

.entete h1 {
      font-family:FreeSans;
      font-size:14px;
      color:#FFF;
      font-weight:bold;
      text-transform:uppercase;
      float:right;
      padding-top:5px;
      margin-left:28px;
      margin-right:42px;
}      

.entete h3 {
      color:#0131B4;
      font-family:Verdana; 
      font-size:14px;
      font-style:normal;
      text-transform:none;
      text-shadow: none; 
      float:center;
}

.entete hr {
     border: 1px solid #B0C4DE; padding-left: 20px; padding-right: 20px;  width: 100%
}      

.entete h2 {
      color:#0C0C0C;
      font-family:Helvetica;
      font-style:normal;  
      font-size:14px;
      text-transform: none;
      float:center;
}           
  
.citation {
         background-color:#0000FF;
         color:#FFF;
         font-family:Colibri;
}

.citation h6 {
          font-size:18px;
          font-weight:bold;
          padding-top:15px;
          text-align:center;
}

.citation p {
          font-size:17px;
          color:#FFF;
          font-weight:bold;
          padding:15px;
}

.citation ol {
          list-style-type:decimal;
}

.citation li {
          font-size:16px;
          color:#FFF;
          padding:15px;
          text-align:left;
}                                                  
  
           
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column img {
 float:left;
 width:100px; 
 height:60px;
}

.column ul {
  list-style-type:square;
}     

.column li {
   font-size:16px;
}

.column dd {
   font-size:16px;
}   

.column p {
   float:left;
   font-size:16px;
   color:#000;
}

.column h1 {
    font-size:18px;
    color:#000;
}    

.column a {
    float:left;
    font-size:16px;
    color:#0000FF;
    font-weight:bold;
    text-decoration:none;
}

.column a:hover { 
       background-color:none;
       color:red;
}
                   
     
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

.botn {
  background-color:#FF0000; 
  border: none;
  color: #FFF;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.botn1 {
  background-color: #4CAF50; 
  border: none;
  color: #FFF;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.botn2 {
  background-color:#FF0000; 
  border: none;
  color: #FFF;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-weight:bold;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.botn3 {
    background-color:#13A013; 
    font-size:17px; 
    color:#FFF;
    padding: 9px 14px;
    border-radius: 4px;
    text-decoration:none;
    cursor: pointer;
}

.botn:hover {
  background-color: #FFF;
  color:#000;
}

.botn1:hover {
  background-color: #1E90FF;
  color: white;
  font-weight:bold;
}

.botn2:hover {
  background-color: #333;
  color: white;
  font-weight:bold;
}

.botn3:hover {
  background-color: #1E90FF;
  color: #FFF;
  font-weight:bold;
}

.container {
  position: relative;
  color: #FFFFFF;
  text-align:center;
}

.container i {
      color:#FF5200;
      font-size:50px;
}

.container h3 {
      color:#FFFFFF; 
      float:left;
}  

.container hr {
       border:2px solid #FFF;
       width:3%;
}           

.container1 {
  position: relative;
  color: #000;
}

.container1 a {
    float:left;
    font-size:16px;
    color:#0000FF;
    font-weight:bold;
    text-decoration:none;
}

.container1 a:hover { 
       background-color:none;
       color:#FF0000;
}

.container1 ol {
     list-style-type:1;
}

.container1 ul {
     list-style-type:square;
}     
     
.container1 li {
     color:#000; 
     font-size:16px
}

.container1 dt {
     font-size:17px;
     font-weight:bold;
}

.container1 dd {
     font-size:16px;
}                
  
.container1 h1 {
    color:#FFFFFF;
    font-size:18px;
    text-align:left;
    text-transform:none;
}    
      
.container1 h2 {
    color:#FFFFFF;
    font-size:18px;
    text-align:center;
    text-transform:uppercase;
}     

.container1 h3 {
    color:#FFFFFF;
    font-size:18px;
    text-align:center;
}     

.container1 h4, h5, h6 {
    font-size:18px;
    color:#FFFFFF;
    text-align:center;
}

.container1 p {
    font-size:18px;
    color:#000;
}    

.container1 hr {
    border:2px solid #FFFFFF;
    width:3%;
    text-align:center;
}

.containerS {
  position: relative;
  background-color:none; 
  padding-left:20px; 
  padding-right:20px;
  color: #FFFFFF;
  text-align:center;
} 

.containerS h2, h3 {   
  padding-left:20px; 
  padding-right:20px;
  color: #FFFFFF;
  text-align:center;     
}

.containerPim {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.missions {
         background-color:#516079;
         color:#FFF;
         text-align:left;
}

.missions dt {
        font-size:18px;
        color:#FFF;
}

.missions dd {
        font-size:16px;
        color:#FFF;
}

.missions p {
        font-size:16px;
        color:#FFF;
}                           

.missions ol {
        color:#FFFFFF; 
        list-style-type:square;
}
.missions li {
        font-size:16px;
        color:#FFFFFF;
        margin-left:25px;
}         


.resume {
     position:relative;
     background-color:#FFF;
}     
     
.resume h2, h3, h4 {
     color:#000;
     text-align:center;
     font-size:20px;
}

.resume h5 {
     color:#000;
     font-size:18px;
     font-weight:bold;
} 

.resume h6 {
     color:#000;
     font-size:16px;
     font-weight:bold;
}      

.resume h1 {
     color:#000;
     font-size:17px;
}

.resume ol {
     color:#000;
     font-size:16px;
     list-style-type:square;
     padding-left:55px;
}

.resume li {
     color:#000;
     font-size:16px;
}     

.resume p {
     color:#000;
     font-size:18px;
     font-weight:bold;
}

.resume dt {   
       color:#000; 
       font-size:18px;
       padding-left:10px;
}

.resume dd{
       color:#000;
       font-size:16px;
       padding-left:none;
}                               
 
.center {
    text-align:center;
}

.center h5 {
    color:#FFF;
} 

.center h4 {
      color:#FFFFFF;
      font-size:18px
}

.center h3 {
    color:#FFF;
    font-size:20px;
} 

.center h1, h2 {
    color:#FFF; 
    font-size:18px;
    text-align:center;
    text-transform:uppercase;
} 

.center p {
   padding-left:10px;
   padding-right:10px;
   font-size:18px;
   color:#FFFFFF;
}

.center hr{
     border:1px solid #FFFFFF;
     width:10%;
}

.center i {
    font-size:24px;
    color: white;
}

.center li {
    color:#FFF;
    font-size:16px;
}    

.tender {
    background-color:#474e5d;
    color:#FFF; 
    font-size:16px;
    padding:10px 20px;
}

.tender ol { 
     color:#FFF;
     list-style-type:square;
}        
    
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column img {
 float:left;
 width:100px; 
 height:60px;
}

.column ul {
  list-style-type:square;
}     

* {
  box-sizing: border-box;
}

.column li {
   font-size:14px;
}

.column dd {
   font-size:16px;
}   

.column p {
   float:left;
   font-size:16px;
   color:#000;
}

.column h1 {
    font-size:18px;
    color:#000;
}    

.column a {
    float:left;
    font-size:16px;
    color:#0000FF;
    font-weight:bold;
    text-decoration:none;
}

.column a:hover { 
       background-color:none;
       color:red;
}
                   
     
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
	
.cta {
    color:#FFF;
    text-align:center;
}

.cta i {
   color:#FF0000;
   font-size:50px;
}

.cta p {
   color:#FFF;
   font-size:16px;
   font-weight:bold;
   background-color:#800080;
   padding:15px;
}

.cta hr {
   border:1px solid #51AD51;
   width:80%;
}   

   
.retour {
	text-align:center;
}

.retour p {
	padding-left:10px;
	padding-right:10px;
    font-size:13px;
    color:#FFFFFF;
    font-style:oblique;
    text-align:center;
}    

.contacts {
   color:#FFFFFF;
   text-align:center;
}

.contacts i {
     font-size:58px;
     color:#FFFFFF;
}

.contacts h3 { 
      color:#FFFFFF; 
      font-size:17px;
      text-align:center;
}

.contacts h4,h5 {
      color:#FFFFFF; 
      font-size:16px;
      font-weight:bold;
}

.contacts p{
      color:#FFFFFF; 
      font-size:18px;
      text-align:center;
}

.contacts hr {
      border:2px solid #FFFFFF;
      width:3%;
      text-align:center;
}   
            
.heading {
    width:100%;
    height:100%;
    position: relative;
    text-align: center;
    color: white;
}
 
 .heading p{
      font-size:16px;
      color:#FFFFFF;
      padding-left:20px;
      padding-right:20px;
      text-align:center;
 }
 
.heading h2 {
    color:#FFFFFF;
    font-size:18px;
    text-align:center;
}

.heading h3 {
    color:#FFFFFF;
    font-size:17px;
    text-align:center;
    text-transform:uppercase;
}      
 
.heading ol {
     list-style-type:square; 
}      
 
.heading li {
     font-size:15px;
     color:#FFFFFF;
}      
 
.heading h1{
     font-size:20px;
     color:#FFFFFF;
     text-transform:uppercase;
     text-align:center;
}    

.heading h4, h5 {
     font-size:20px;
     color:#FFFFFF;
     text-align:center;
}    
 
.heading hr{
     border:2px solid #FFFFFF;
     width:3%;
}

.centered {
  position: absolute;
  top: 16%;
  width: 100%;
  text-align: center;
  font-size: 15px;
}


.offre {
  background-color:#FFF;
  padding-left:20px;
  padding-right:20px;
  float:left;
  color:#000;
  padding:10px;
} 

.offre ol {
     list-style:square;
}     

.offre h2 {
     color:#000;
     text-align:center;
     padding-left:20px;
     padding-right:20px;
}

.offre h3 {
     color:#000;
     font-size:17px;
     text-align:center;
     text-transform:uppercase;
     padding-left:20px;
     padding-right:20px;
}

.offre p {
     color:#000;
     font-style:normal;
     font-size:18px;
}

.offre li {
    font-size:18px;
    color:#000;
}    

.benefits p {
       color:#FFF;
       font-size:16px;
       padding-top:10px;
}

.benefits li {
      color:#FFFFFF;
      font-size:16px;
}                        

.demarche {
      background-color:#FFF;
      color:#000;
}      

.demarche dt {
      font-size:17px;
      font-weight:bold
}

.demarche li {
      font-size:16px;
      color:#000;
}

.demarche ol {
      list-style:square;
}

.demarche h4 {
      color:#000; 
      font-size:18px;
      text-transform:uppercase;
}

.demarche p {
      font-size:17px;
      color:#000;
}

.demarche hr {
      border:1px solid #34C924;
      width:8%;
}      


.infos p {  
      color:#FFF;
      font-size:13px;
      padding-left:20px;
      Padding-right:20px;
      text-align:center;
}          
    
.infos ol {
      list-style-type:square;
      margin-left:32%;
      font-size:14px; 
      text-align:left;           
}

.infos li {
      font-size:11px;
      color:#FFF;
}      

.footer {
   left: 0;
   bottom: 0;
   width: 100%; 
   background-color:#0B0A0B;
   text-align:center; 
 } 
 
.footer p {
    color:#FFFFFF;
    font-size:12px;
    text-align:center;
}

.footer hr {
   border:1px solid #7F7F7F;
   width: 100%;
}

.footer i {
   color:#FFFFFF;
   font-size:24px;
}

.retour i {
     font-size:36px;
     color:#FF0000;
}

.retour p {
     font-size:13px;
     color:#FFF;
     Font-style:normal;
}   
            
