.icon-bar {
  margin-left:26%;
  width:50%;
  background-color: #000;
  overflow: auto;
}

.icon-bar a {
  margin:0;	
  float: left;
  width: 20%;
  text-align: center;
  padding: 10px 4px;
  transition: all 0.3s ease;
  color: #FFFFFF;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.icon-barS {
  margin-left:35%;
  width: 50%;
  background-color: none;
  overflow: auto;
}

.icon-barS a {
  margin:0;	
  float: left;
  width: 20%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: #FFFFFF;
  font-size: 36px;
}

.icon-barS a:hover {
  background-color: none;
}  

.icon-barP {
  margin-left:40%;
  width:50%;
  background-color: #000;
  overflow: auto;
}

.icon-barP a {
  margin:0;	
  float: left;
  width: 20%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-barP a:hover {
  background-color: none;
}

/*Nav*/
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #516079;
}

ul.nav li {float: left;}

ul.nav li a {
  display: block;
  font-size:16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {background-color: #1E90FF;}

ul.nav li a.active {background-color: #51AD51;}

ul.nav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li {float: none;}
}





