.topnav {
  overflow: hidden;
  background-color:#686a6b;
  font-family:Helvetica;
  font-family:Helvetica;
}

.topnav a {
  float: left;
  display: block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight:bold;
}

.topnav a:hover {
  background-color: none;
  color: #B31312;
  font-weight:bold;
}

.topnav a.active {
  background-color: none;
  color: #B31312;
  font-weight:bold;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
