/*body 
   {font-family: Helvetica, Arial}*/

.navbar {
  font-family:Helvetica;
  width: 100%;
  background-color: none;
  overflow: auto;
}

.navbar a {
  float: center;
  padding: 12px;
  color: #27D617;
  text-decoration: none;
  font-size: 13px;
  font-weight:bold;
}

.active a {
  background-color: none;
  color: #FFF;
  font-size:13px;
  font-weight:bold;
}

.navbar a:hover {
  background-color: none;
  color: #B31312;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
